html,
body {
    height: 100%;
    /* height: auto; */
}

hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.master-container {
    /* Might have to remove height if bugged!!! */
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#index-background {
    background-image: url("/bilder/web-g066a55977_1920.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    align-items: center;
}

.logo {
    height: 3rem;
    width: 3rem;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar,
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-items,
.footer-item {
    width: auto;
    margin-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 57rem;
    margin-top: 2rem;
}

.main-container-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.main-container-box1,
.main-container-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.main-container-box1 {
    box-sizing: border-box;
}

.main-container-box2 {
    box-sizing: border-box;
}

.h {
    box-sizing: border-box;
    height: 3px;
    background-color: var(--darkest);
}

.thema-container {
    box-sizing: border-box;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0.75rem;
    padding-left: 0.4rem;
}

.text-untertitel {
    margin-bottom: 0.3rem;
}

.text-paragraph {
    margin-bottom: 1.2rem;
}

.dimmed {
    box-sizing: border-box;
    padding: 1rem;
}

#var-list {
    padding: 1.5rem;
}

/* .overview-list-item {
    margin-bottom: 3rem;
} */

/* !!!Nur aktivieren, falls hr-Tags bei overview weggelassen werden!!! */

.text-image {
    max-width: 30rem;
    margin-bottom: 1rem;
}

.form-container {
    width: auto;
    max-width: 45rem;

    /* height: 40rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
}

.label-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.input-container {
    margin-top: 0.3rem;
    padding: 0.25rem;
}

.label-container textarea {
    height: 15rem;
}

.absend-button {
    height: 1.75rem;
    max-width: 6rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1.25rem;
    margin-bottom: 2rem;
}

.video-titel {
    margin-bottom: 0.65rem;
}

.video {
    max-width: 15rem;
    aspect-ratio: 16 / 9;
    /* funktioniert in chrome und firefox */
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
}

.footer-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    /* width: 100%;
    height: 100%; */
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}

.footer-link,
.header-link,
.link-box {
    height: 100%;
    line-height: 2.5rem;
}

.loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.loading svg {
    height: 3rem;
    width: 5rem;
    overflow: hidden;
}
