body {
    height: auto;
}

.master-container {
    /* Might have to remove height if bugged!!! */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo {
    height: 3rem;
    width: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar,
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-items {
    margin-top: 0.3rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0.75rem;
    padding-left: 0.4rem;
}

.text-untertitel {
    margin-bottom: 0.3rem;
}

.text-paragraph {
    margin-bottom: 1.2rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.video-titel {
    margin-bottom: 0.65rem;
}

.video {
    max-width: 15rem;
    aspect-ratio: 16 / 9;
    /* funktioniert in chrome und firefox */
}

.footer-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
